<div id="form-apply">
  <%= f.simple_fields_for :information do |p| %>
    <%= p.hidden_field :name, value: current_user.name %>
    <%= p.hidden_field :email, value: current_user.email %>
    <%= p.hidden_field :phone, value: current_user.phone %>
    <%= p.hidden_field :address, value: current_user.address %>
    <div class="form-group input-inline boder-left display-none-important">
      <div class="col-xs-24 lout">
        <div class="input-group">
          <span class="input-group-addon apply-un">
            <i class="fa fa-user text-primary" aria-hidden="true"></i>
          </span>
          <%= p.text_field :broker, autofocus: true, class: "form-control input-lg",
            placeholder: t(".who") %>
        </div>
      </div>
    </div>
    <% if current_user.cv.present? %>
      <div class="form-group m-top-15">
        <label class="control-label col-md-12 p-0">
          <div class="pull-left">
            <abbr title="required">*</abbr>
            <%= t ".new_cv" %>
          </div>
        </label>
        <div class="radio">
          <input id="radio-1" name="radio" type="radio" checked value="checked" class="hidden">
          <label for="radio-1" class="radio-label pd-5">
            <%= current_user.cv_identifier %>
            <span class="update-at">
              <%= cv_update_at current_user %>
            </span>
          </label>
        </div>
        <div class="radio">
          <input id="radio-2" name="radio" type="radio" class="hidden">
          <label for="radio-2" class="radio-label pd-5 btn-change-cv">
            <span class="text-primary"><%= t ".select-cv" %></span>
            <i class="fa fa-upload load-up"></i>
          </label>
          <%= f.file_field :cv, id: "change-cv", class: "hidden", accept: Settings.send_cv.type %>
        </div>
      </div>
    <% else %>
      <div class="form-group m-top-15">
        <label class="control-label col-md-12 p-0">
          <div class="pull-left">
            <abbr title="required">*</abbr>
            <%= t ".new_cv" %>
          </div>
        </label>
        <div class="input-group">
          <%= text_field_tag nil, nil, class: "form-control", id: "choose-cv", readonly: true %>
          <span class="input-group-addon btn btn-info btn-file btn-choose-cv">
            <%= t ".browse" %>
          </span>
          <%= f.file_field :cv, class: "choose-cv hidden", accept: Settings.send_cv.type %>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <%= p.input :introducing, as: :ckeditor, input_html: {cols: Settings.text_area.cols, rows: Settings.text_area.rows} %>
      <div class="error-message p-l-10 error-introducing"></div>
    </div>
  <% end %>
  <%= render partial: "applies/buttons_survey", locals: {f: f} %>
</div>
<%= javascript_include_tag "choose_file" %>
