<div class="create-job-modal" id ="apply_button">
  <button type="button" class="btn btn-primary btn-lg post-job"
    data-toggle="modal" data-target="#JobModal">
    <%= t ".applynow" %>
  </button>
  <div class="modal fade" id="JobModal" role="dialog">
    <div class="modal-dialog job-modal-dialog">
      <div class="modal-content config opacity-apply custom-width">
        <div class="modal-header login-titles">
          <button type="button" class="close title-modal" data-dismiss="modal">x</button>
          <div class="login-title text-center">
            <h1>
              <i class="gi gi-flash"></i>
              <strong><%= t ".app" %>&nbsp;<%= t ".framgia" %></strong><br>
              <small>
                <strong class="title-modal">
                  <%= @job.name %>
                  (<%= t ".slary" %>
                  <%= @job.min_salary.round.to_s + Settings.currency.dollar %> -
                  <%= t ".working" %>&nbsp;<%= @company.address %>)
                </strong>
              </small>
            </h1>
          </div>
        </div>
        <div class="modal-body" id="job-create-form">
          <% unless @job.not_exist? %>
            <%= render partial: "applies/step_by_step",
              locals: {step: t(".apply")} %>
          <% end %>
          <p><label class="control-label" for="information">
            <abbr title="required">*</abbr>&nbsp;<%= t ".information" %>
          </label></p>
          <div class="form-group input-inline form-custom">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-address-book"></i></span>
              <%= text_field_tag :name, current_user.name, class: "form-control input-md input-custom",
                placeholder: t(".name"), disabled: true %>
            </div>
          </div>
          <div class="form-group input-inline form-custom">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <%= text_field_tag :email, current_user.email, class: "form-control input-md input-custom",
                placeholder: t(".email"), disabled: true %>
            </div>
          </div>
          <div class="form-group input-inline form-custom">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
              <%= text_field_tag :phone, current_user.phone, class: "form-control input-md input-custom",
                placeholder: t(".phone"), disabled: true %>
            </div>
          </div>
          <div class="form-group input-inline form-custom">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
              <%= text_field_tag :address, current_user.address, class: "form-control input-md input-custom",
                placeholder: t(".address"), disabled: true %>
            </div>
          </div>
          <div id="content-apply">
            <%= render "applies/content", locals: {apply: @apply} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
