<div id="form-apply" class="m-t-md">
  <label class="control-label" for="information">
    <abbr title="required">*</abbr>&nbsp;<%= t ".information" %>
  </label>
  <%= f.simple_fields_for :information do |p| %>
    <div id="apply_form">
      <div class="contain-float">
        <div class="form-group input-inline no-border pull-left">
          <div class="form-custom border-dashed">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-address-book"></i></span>
              <%= p.text_field :name, autofocus: true, class: "form-control input-md input-custom",
                placeholder: t(".name") %>
            </div>
          </div>
          <div class="error-message display-none p-l-10 error-name"></div>
        </div>
        <div class="form-group input-inline no-border pull-right">
          <div class="form-custom border-dashed">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <%= p.text_field :email, class: "form-control input-md input-custom",
                placeholder: t(".email") %>
            </div>
          </div>
          <div class="error-message display-none p-l-10 error-email"></div>
        </div>
      </div>
      <div class="contain-float">
        <div class="form-group input-inline no-border pull-left">
          <div class="form-custom border-dashed">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
              <%= p.text_field :phone, class: "form-control input-md input-custom",
                placeholder: t(".phone") %>
            </div>
          </div>
          <div class="error-message display-none p-l-10 error-phone"></div>
        </div>
        <div class="form-group input-inline no-border pull-right">
          <div class="form-custom border-dashed">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
              <%= p.text_field :address, class: "form-control input-md input-custom",
                placeholder: t(".address") %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group input-inline no-border form-custom display-none-important">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <%= f.text_field :broker, class: "form-control input-lg input-custom",
            placeholder: t(".broker") %>
        </div>
      </div>
      <div class="form-group m-top-15">
        <label class="control-label col-md-12 p-0">
          <div class="pull-left">
            <abbr title="required">*</abbr>
            <%= t ".new_cv" %>
          </div>
        </label>
        <div class="input-group">
          <%= text_field_tag nil, nil, class: "form-control", id: "choose-cv", readonly: true %>
          <span class="input-group-addon btn btn-info btn-file btn-choose-cv">
            <%= t ".browse" %>
          </span>
          <%= f.file_field :cv, class: "choose-cv hidden", accept: Settings.send_cv.type %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label ckeditor" for="apply_information_introducing">
          <span><%= t ".introducing" %></span>
        </label>
        <%= p.input :introducing, as: :ckeditor, input_html: {cols: Settings.text_area.cols,
          rows: Settings.text_area.rows}, label: false %>
        <div class="error-message display-none p-l-10 error-introducing"></div>
      </div>
      <%= render partial: "applies/buttons_survey", locals: {f: f} %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag "choose_file" %>
