<div class="row">
  <div class="col-sm-4 col-lg-3">
    <div class="block full">
      <div class="block-title clearfix">
        <h2><i class="fa fa-ticket"></i> <strong><%= t ".candidate_information" %></strong></h2>
      </div>
      <div class="block">
        <div class="block-section text-center">
          <%= image_tag @candidate.picture, class: "img-circle img-avatar" %>
          <h3>
            <strong><%= @candidate.name %></strong><br><small></small>
          </h3>
        </div>
        <table class="ml-18 table table-borderless table-striped">
          <tbody>
            <tr class="background-none">
              <td class="text-right"><strong><%= t ".email" %></strong></td>
              <td><span class="label label-primary"><%= @candidate.email %></span></td>
            </tr>

            <% if @candidate.phone %>
              <tr class="background-none">
                <td class="text-right"><strong><%= t ".phone" %></strong></td>
                <td><%= @candidate.phone %></td>
              </tr>
            <% end %>

            <% if @candidate.cv.present? %>
              <tr class="background-none">
                <td class="text-right"><strong><%= t "employers.cv" %></strong></td>
                  <td>
                    <a href="<%= @candidate.cv.url %>" data-fancybox class="thumbnail-cv label label-info">
                      <i class="fa fa-eye"></i><b><%= t "employers.view" %></b>
                    </a>
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-lg-9">
    <div id="table-applies">
      <%= render partial: "table_applies" %>
    </div>
  </div>
</div>
<div class="modal fade" id="add-apply" role="dialog"
  tabindex="-1" aria-hidden="true">
</div>
<%= javascript_include_tag "employers/select_step" %>
