<%= javascript_include_tag "format_datepicker", "data-turbolinks-track": "reload" %>
<%= javascript_include_tag "load_image", "data-turbolinks-track": "reload" %>
<%= simple_form_for @user, html: {class: "form-update-user"}, remote: true, method: :put do |f| %>
  <div class="row">
    <div class="col-xs-5 col-sm-5 col-md-4">
      <div class="col-sm-12 col-xs-12 pos-relative">
        <div class="contain-avatar">
          <% if @user.picture.present? %>
            <%= image_tag @user.picture.url, class: "img-responsive", id: "banner_img" %>
          <% else %>
            <%= image_tag "avatar_2x.jpg", class: "img-responsive", id: "banner_img" %>
          <% end %>
        </div>
        <%= f.label :picture, t(".change_avatar"), class: "profile-label" %>
        <%= f.file_field :picture, id: "bannerSelect", class: "hide" %>
      </div>
      <div class="col-sm-12 col-xs-12 text-center">
        <%= f.label :cv, t(".change_curriculum"), class: "edit-user-img change-cv", title: t(".change_curriculum") %>
        <%= f.file_field :cv, class: "hide", accept: Settings.send_cv.type %>
        <a href="<%= @user.cv.url %>" data-fancybox title="<%= t '.view_cv' %>"
          class="edit-user-img view-cv <%= @user.cv.present? ? '' : 'not-active' %>">
          <i class="fa fa-eye"></i>
        </a>
      </div>
    </div>
    <div class="col-xs-7 col-sm-7 col-md-8">
      <div class="form-group form-custom">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <%= f.text_field :name, autofocus: true, class: "form-control input-custom edit-control input-lg",
            placeholder: t(".name") %>
          <span class="error-message">
            <%= f.error :name %>
          </span>
        </div>
      </div>
      <div class="form-group form-custom">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <%= f.text_field :email, class: "form-control input-custom edit-control input-lg",
            placeholder: t(".email") %>
          <span class="error-message">
            <%= f.error :email %>
          </span>
        </div>
      </div>

      <div class="form-group form-custom">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-globe"></i></span>
          <%= f.text_field :address, class: "form-control input-custom edit-control input-lg",
            placeholder: t(".address") %>
        </div>
      </div>

      <div class="form-group form-custom">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-phone"></i></span>
          <%= f.text_field :phone, class: "form-control input-custom edit-control input-lg",
            placeholder: t(".phone") %>
        </div>
      </div>

      <div class="form-group form-custom">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
          <% if @user.birthday.present? %>
            <%= f.text_field :birthday,
              class: "datepick form-control input-custom edit-control input-lg",
                value: @user.birthday.strftime(t ".date_format"), placeholder: t(".birthday")  %>
          <% else %>
            <%= f.text_field :birthday,
              class: "datepick form-control input-custom edit-control input-lg", placeholder: t(".birthday")  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center m-40">
    <%= f.submit t(".save"), class: "btn btn-primary btn-custom" %>
    <button id="cancel_user_edit" type="button" class="btn btn-default" value="<%= @user.id %>">
      <%= t "achievements.cancle" %>
    </button>
  </div>
<% end %>
