<div id="profile-user">
  <div id="show-user">
    <div class="user clearfix">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 pos-relative">
          <div class="form-group form-custom">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <%= text_field_tag :name, @user.name, disabled: true, class: "form-control
                input-custom input-lg input-disabled" %>
            </div>
          </div>
          <div class="form-group form-custom">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <%= text_field_tag :email, @user.email, disabled: true, class: "form-control
                input-custom input-lg input-disabled" %>
            </div>
          </div>
          <div class="form-group form-custom">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-globe"></i></span>
              <%= text_field_tag :address, @user.address, disabled: true, class: "form-control
                input-custom input-lg input-disabled" %>
            </div>
          </div>
          <div class="form-group form-custom">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
              <%= text_field_tag :phone, @user.phone, disabled: true, class: "form-control
                input-custom input-lg input-disabled" %>
            </div>
          </div>
          <div class="form-group form-custom">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
              <%= text_field_tag :birthday,
                @user.birthday.present? ? l(@user.birthday, format: :long) : nil, disabled: true,
                class: "form-control input-custom input-lg input-disabled" %>
            </div>
          </div>
        </div>
        <% if can? :update, @user %>
          <%= link_to edit_user_path(current_user), class: "btn-absolute", remote: true do %>
            <button class="btn btn-info btn-sm"><i class="glyphicon glyphicon-pencil"></i></button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
