<div class="container">
  <div class="profile clearfix">
    <%= render @user %>
  </div>
  <div class="tab-custom row">
    <div class="col-lg-2 col-sm-3 col-xs-3 tab-custom-menu">
      <div class="list-group">
        <a href="javascript:void(0)" class="list-group-item active text-center">
          <i class="fa fa-user"></i><br/><%= t ".profile" %>
        </a>
        <a href="javascript:void(0)" class="list-group-item text-center">
          <i class="fa fa-cc-diners-club"></i><br/><%= t ".clubs" %>
        </a>
        <a href="javascript:void(0)" class="list-group-item text-center">
          <i class="fa fa-certificate"></i><br/><%= t ".certificates" %>
        </a>
        <a href="javascript:void(0)" class="list-group-item text-center">
          <i class="fa fa-bank"></i><br/><%= t ".experiences" %>
        </a>
        <a href="javascript:void(0)" class="list-group-item text-center">
          <i class="fa fa-trophy"></i><br/><%= t ".achievements" %>
        </a>
      </div>
    </div>
    <div class="col-lg-10 col-sm-9 col-xs-9 tab-custom-content">
      <div class="tab-content active">
        <%= render "users/index" %>
      </div>
      <div class="tab-content">
        <%= render "clubs/index" %>
      </div>
      <div class="tab-content">
        <%= render "certificates/index" %>
      </div>
      <div class="tab-content">
        <%= render "experiences/index" %>
      </div>
      <div class="tab-content">
        <%= render "achievements/index" %>
      </div>
    </div>
  </div>
</div>
<a href="#" id="to-top" class="to-top"><i class="fa fa-angle-up"></i></a>
