<%= stylesheet_link_tag "employer/jquery-ui" %>
<%= f.hidden_field :user_id, value: current_user.id %>
<div class="col-md-12">
  <ul class="nav nav-tabs" data-toggle="tabs">
    <h4>
      <i class="fa fa-address-card" aria-hidden="true"></i>
      <%= t ".imformation" %>
      <strong>
        <span class="translation_missing"><%= t ".offer" %></span>
      </strong>
    </h4>
  </ul></br>
  <div class="block-body">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <%= f.input :address, as: :string %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.input :salary, input_html: {min: Settings.offer_salary,
          step: Settings.offer_salary_increase_step, type: "number"} %>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label class="control-label">
          <abbr title="required">*</abbr> <%= t ".currency" %>
        </label>
        <%= f.input :currency_id, as: :select, collection: @currencies.map{|x| [x.unit, x.id]},
          label: false %>
        <%= f.full_error :currency, class: "m-top-10-minus" %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <label class="control-label">
          <abbr title="required">*</abbr> <%= t ".start_time" %>
        </label>
        <%= f.text_field :start_time, class: "date_apply form-control", id: "datepicker" %>
        <%= f.error :start_time %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <%= f.input :requirement, as: :ckeditor, input_html: {rows: Settings.input.row_10} %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "format_datepicker" %>
