<%= javascript_include_tag "format_datepicker", "data-turbolinks-track": "reload" %>
<%= simple_form_for @experience, html: {class: "new-section"}, remote: true do |f| %>
  <div class="row">
    <div class="form-group form-custom input-inline">
      <div class="input-group">
        <span class="input-group-addon">
          <strong class="text-red">*</strong>
          <i class="fa fa-user" aria-hidden="true" title="<%= t '.name' %>"></i>
        </span>
        <%= f.text_field :name, autofocus: true, class: "form-control input-custom input-lg",
          placeholder: t(".name") %>
      </div>
    </div>
    <div class="form-group form-custom input-inline">
      <div class="input-group">
        <span class="input-group-addon">
          <strong class="text-red">*</strong>
          <i class="fa fa-building" aria-hidden="true" title="<%= t '.company' %>"></i>
        </span>
        <%= f.text_field :company, class: "form-control input-custom input-lg",
          placeholder: t(".company") %>
      </div>
    </div>
    <div class="contain-float">
      <div class="error-message animation-slideDown pull-left w-50-percent">
        <%= f.error :name %>
      </div>
      <div class="error-message animation-slideDown pull-right w-50-percent">
        <%= f.error :company %>
      </div>
    </div>
    <div class="form-group form-custom input-inline">
      <div class="input-group">
        <span class="input-group-addon">
          <strong class="text-red">*</strong>
          <i class="fa fa-calendar" aria-hidden="true" title="<%= t '.from' %>"></i>
        </span>
        <% if @experience.start_time.present? %>
          <%= f.text_field :start_time,
            class: "datepick form-control input-custom input-lg", placeholder: t(".from"),
            value: l(@experience.start_time, format: :long) %>
        <% else %>
          <%= f.text_field :start_time,
            class: "datepick form-control input-custom input-lg", placeholder: t(".from") %>
        <% end %>
      </div>
    </div>
    <div class="form-group form-custom input-inline">
      <div class="input-group">
        <span class="input-group-addon">
          <strong class="text-red">*</strong>
          <i class="fa fa-calendar" aria-hidden="true" title="<%= t '.to' %>"></i>
        </span>
        <% if @experience.end_time.present? %>
          <%= f.text_field :end_time,
            class: "datepick form-control input-custom input-lg", placeholder: t(".to"),
            value: l(@experience.end_time, format: :long) %>
        <% else %>
          <%= f.text_field :end_time,
            class: "datepick form-control input-custom input-lg", placeholder: t(".to") %>
        <% end %>
      </div>
    </div>
    <div class="contain-float">
      <div class="error-message animation-slideDown pull-left w-50-percent">
        <%= f.error :start_time %>
      </div>
      <div class="error-message animation-slideDown pull-right w-50-percent">
        <%= f.error :end_time %>
      </div>
    </div>
    <div class="form-group p-0">
      <div>
        <%= f.label :project_detail, t(".project_detail"), class: "form-control text-left label-custom" %>
        <%= f.input :project_detail, as: :ckeditor, label: false,
          input_html: {cols: Settings.text_area.cols, rows: Settings.text_area.rows} %>
      </div>
      <div class="error-message animation-slideDown">
        <%= f.error :project_detail %>
      </div>
    </div>
  </div>
  <p class="text-right">(<strong class="text-red">*</strong>)&nbsp;<%= t ".required" %></p>
  <div class="row text-center m-40">
    <%= f.submit t(".save"), class: "btn btn-primary btn-custom" %>
    <button id="<%= define_cancel_experience_id @experience %>" type="button"
      class="btn btn-default" value="<%= @experience.id %>">
      <%= t ".cancel" %>
    </button>
  </div>
<% end %>
