<%= form_for resource, as: resource_name, url: session_path(resource_name),
  html: {id: "form-login"} do |f| %>
  <div class="form-group form-custom login-error display-none">
    <div class="col-xs-12">
      <p class="color-red text-center"></p>
      <span class="close-error">&times;</span>
    </div>
  </div>
  <div class="form-group form-custom">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <%= f.email_field :email, autofocus: true, class: "form-control input-custom input-lg",
          placeholder: t(".email"), id: "login-email" %>
      </div>
    </div>
  </div>
  <div class="form-group form-custom">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <%= f.password_field :password,class: "form-control input-custom input-lg",
          placeholder: t(".password"), id: "login-password"  %>
      </div>
    </div>
  </div>

  <div class="form-group form-custom form-actions remember-login p-15">
    <div class="pull-left">
      <%= f.label :remember_me, class: "checkbox inline remember_me p-0 m-l-15" do %>
        <label class="switch switch-primary p-0" data-toggle="tooltip">
          <%= f.check_box :remember_me, id: "login-remember-me" %>
          <span></span>
        </label>
      <% end %>
    </div>
    <div class="pull-right">
      <%= f.button :submit, class: "btn btn-sm-custom btn-primary-custom" do %>
        <%= t ".login_to" %>
      <% end %>
    </div>
  </div>

  <div class="form-group form-custom p-15">
    <div class="text-center">
      <div>
        <small><%= t ".or" %></small>
        <strong><%= t ".sign_in" %></strong>
        <small><%= t ".with" %></small>
        <%= link_to "/devises/auth/facebook", class: "btn btn-primary btn-sm btn-facebook",
          title: Settings.omniauth.facebook do %>
          <i class="fa fa-facebook"></i>
        <% end %>
        <%= link_to "/devises/auth/google_oauth2", class: "btn btn-danger btn-sm",
          title: Settings.omniauth.google do %>
          <i class="fa fa-google"></i>
        <% end %>
        <%= link_to "/devises/auth/linkedin", class: "btn btn-primary btn-sm",
          title: Settings.omniauth.linkedin do %>
          <i class="fa fa-linkedin"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group form-custom p-15">
    <div class="text-center">
      <a href="javascript:void(0)" class="link-forgot-password">
        <small><%= t ".forgot" %></small>
      </a>
      <span> - </span>
      <a href="javascript:void(0)" class="link-register">
        <small><%= t ".create_new" %></small>
      </a>
    </div>
  </div>
<% end %>
