<%= javascript_include_tag "format_datepicker", "data-turbolinks-track": "reload" %>
<div id= "new-certificate">
  <%= simple_form_for @certificate, html: {class: "new-section"}, remote: true do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="row">
      <div class="form-group form-custom input-inline">
        <div class="input-group">
          <span class="input-group-addon">
            <strong class="text-red">*</strong>
            <i class="fa fa-user" aria-hidden="true" title="<%= t '.name' %>"></i>
          </span>
          <%= f.text_field :name, autofocus: true, class: "form-control input-custom input-lg",
            placeholder: t(".name") %>
        </div>
      </div>
      <div class="form-group form-custom input-inline">
        <div class="input-group">
          <span class="input-group-addon">
            <strong class="text-red">*</strong>
            <i class="fa fa-star" aria-hidden="true" title="<%= t '.major' %>"></i>
          </span>
          <%= f.text_field :majors, class: "form-control input-custom input-lg",
            placeholder: t(".major") %>
        </div>
      </div>
      <div class="contain-float">
        <div class="error-message animation-slideDown pull-left w-50-percent">
          <%= f.error :name %>
        </div>
        <div class="error-message animation-slideDown pull-right w-50-percent">
          <%= f.error :majors %>
        </div>
      </div>
      <div class="form-group form-custom input-inline width-100-percent">
        <div class="input-group">
          <span class="input-group-addon">
            <strong class="text-red">*</strong>
            <i class="fa fa-building" aria-hidden="true" title="<%= t '.organization' %>"></i>
          </span>
          <%= f.text_field :organization, class: "form-control input-custom input-lg",
            placeholder: t(".organization") %>
        </div>
      </div>
      <div class="error-message animation-slideDown">
        <%= f.error :organization %>
      </div>
      <div class="form-group form-custom input-inline">
        <div class="input-group">
          <span class="input-group-addon">
            <strong class="text-red">*</strong>
            <i class="fa fa-certificate" aria-hidden="true" title="<%= t '.classification' %>"></i>
          </span>
          <%= f.text_field :classification, class: "form-control input-custom input-lg",
            placeholder: t(".classification") %>
        </div>
      </div>
      <div class="form-group form-custom input-inline">
        <div class="input-group">
          <span class="input-group-addon">
            <strong class="text-red">*</strong>
            <i class="fa fa-calendar" aria-hidden="true" title="<%= t '.received' %>"></i>
          </span>
          <% if @certificate.received_time.present? %>
            <%= f.text_field :received_time,
              class: "datepick form-control input-custom input-lg", placeholder: t(".received"),
              value: l(@certificate.received_time, format: :long) %>
          <% else %>
            <%= f.text_field :received_time,
              class: "datepick form-control input-custom input-lg", placeholder: t(".received") %>
          <% end %>
        </div>
      </div>
      <div class="contain-float">
        <div class="error-message animation-slideDown pull-left w-50-percent">
          <%= f.error :classification %>
        </div>
        <div class="error-message animation-slideDown pull-right w-50-percent">
          <%= f.error :received_time %>
        </div>
      </div>
    </div>
    <p class="text-right">(<strong class="text-red">*</strong>)&nbsp;<%= t ".required" %></p>
    <div class="row text-center m-40">
      <%= f.submit t(".save"), class: "btn btn-primary btn-custom" %>
      <button id="<%= define_cancel_certificate_id @certificate %>" type="button"
        class="btn btn-default" value="<%= @certificate.id %>">
        <%= t ".cancel" %>
      </button>
    </div>
  <% end %>
</div>
