<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">
        <i class="fa fa-info"></i>
        <%= t ".offer" %>
        <span class="text-muted">
          <small><em><%= l offer.created_at, format: :long %></em></small>
        </span>
      </h4>
    </div>
    <div class="modal-body">
      <div class="table-responsive">
        <table class="table table-vcenter table-striped">
          <tbody>
            <tr>
              <td class="w-150"><%= t ".sender" %></td>
              <td class="detail-content"><%= offer.user_name %></td>
            </tr>

            <tr>
              <td class="w-150"><%= t ".salary" %></td>
              <td class="detail-content"><%= show_salary offer %></td>
            </tr>

            <tr>
              <td class="w-150"><%= t ".start_time" %></td>
              <td class="detail-content"><%= offer.start_time %></td>
            </tr>

            <tr>
              <td class="w-150"><%= t ".address" %></td>
              <td class="detail-content"><%= offer.address %></td>
            </tr>

            <tr class="break">
              <td class="w-150"><%= t ".requirement" %></td>
              <td class="detail-content"><%= raw offer.requirement %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
