<%= javascript_include_tag "format_datepicker", "data-turbolinks-track": "reload" %>
<%= simple_form_for @achievement, html: {class: "new-section"}, remote: true do |f| %>
  <div class="row">
    <div class="form-group form-custom input-inline">
      <div class="input-group">
        <span class="input-group-addon">
          <strong class="text-red">*</strong>
          <i class="fa fa-user" aria-hidden="true" title="<%= t '.name' %>"></i>
        </span>
        <%= f.text_field :name, autofocus: true, class: "form-control input-custom input-lg",
          placeholder: t(".name") %>
      </div>
    </div>
    <div class="form-group form-custom input-inline">
      <div class="input-group">
        <span class="input-group-addon">
          <strong class="text-red">*</strong>
          <i class="fa fa-star" aria-hidden="true" title="<%= t '.majors' %>"></i>
        </span>
        <%= f.text_field :majors, class: "form-control input-custom input-lg",
          placeholder: t(".majors") %>
      </div>
    </div>
    <div class="contain-float">
      <div class="error-message animation-slideDown pull-left w-50-percent">
        <%= f.error :name %>
      </div>
      <div class="error-message animation-slideDown pull-right w-50-percent">
        <%= f.error :majors %>
      </div>
    </div>
    <div class="form-group form-custom input-inline">
      <div class="input-group">
        <span class="input-group-addon">
          <strong class="text-red">*</strong>
          <i class="fa fa-map-marker" aria-hidden="true" title="<%= t '.organization' %>"></i>
        </span>
        <%= f.text_field :organization, class: "form-control input-custom input-lg",
          placeholder: t(".organization") %>
      </div>
    </div>
    <div class="form-group form-custom input-inline">
      <div class="input-group">
        <span class="input-group-addon">
          <strong class="text-red">*</strong>
          <i class="fa fa-calendar" aria-hidden="true" title="<%= t '.received_time' %>"></i>
        </span>
        <% if @achievement.received_time.present? %>
          <%= f.text_field :received_time, data: {provide: "datepicker"},
            class: "datepick form-control input-custom input-lg", placeholder: t(".received_time"),
            value: @achievement.received_time.strftime(t "date_format") %>
        <% else %>
          <%= f.text_field :received_time, data: {provide: "datepicker"},
            class: "datepick form-control input-custom input-lg", placeholder: t(".received_time") %>
        <% end %>
      </div>
    </div>
    <div class="contain-float">
      <div class="error-message animation-slideDown pull-left w-50-percent">
        <%= f.error :organization %>
      </div>
      <div class="error-message animation-slideDown pull-right w-50-percent">
        <%= f.error :received_time %>
      </div>
    </div>
  </div>
  <p class="text-right">(<strong class="text-red">*</strong>)&nbsp;<%= t ".required" %></p>
  <div class="row text-center m-40">
    <%= f.submit t(".save"), class: "btn btn-primary btn-custom" %>
    <button id="<%= define_cancel_achievement_id @achievement %>" type="button"
      class="btn btn-default" value="<%= @achievement.id %>">
      <%= t ".cancel" %>
    </button>
  </div>
<% end %>
